.Our_Location{
   background-color: #0B4068;
   text-align: center;
   padding: 6%;
}

.map{
    height: 600px;
}

.mark1{
    position: absolute;
    bottom: -76px;
    right: 525px;
}

.mark1:hover{
    width: 60px;
    position: absolute;
    bottom: -76px;
    right: 520px;
}

@media only screen and (max-width: 600px) {

    .map{
        width: 100%;
        height: auto;
    }

    .mark1{
        display: none;
    }

}