#navbar {
  background-color: white;
  padding: 2%;
  height: 80px;
  opacity: 0.9;
  box-shadow: 0px 0px 5px 5px rgb(107, 111, 116);
  transition: top 0.3s;
  text-align: center;
}

.dropdown-toggle::after {
  vertical-align: 2px !important;
  border-top: 0.39em solid !important;
  border-right: 0.39em solid transparent !important;
  border-bottom: 0 !important;
  border-left: 0.39em solid transparent !important;
}
/* .contact-info svg {
  background-color: black;
  stroke: black;
} */

.navbar-brand img {
  width: 300px;
  height: 55px;
  object-fit: cover;
  margin-right: 5%;
}

.nav-link {
  color: black !important;
  /* margin-left: 2%;
  margin-right: 2%; */
  font-size: large;
}

.nav-link:hover {
  /* color: #329ed6 !important; */
  
  border-bottom: 3px solid black;
  border-top: 3px solid black;
}


/* .nav-link:hover svg {
  stroke: #329ed6;
} */

.nav-dropdown {
  margin-right: 2%;
}

#nav_dropdown_item {
  color: black !important;
}

#nav_dropdown_item:hover {
  color: #329ed6 !important;
}
.contact-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 !important;
}
.contact-info samp {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

@media only screen and (max-width: 600px) {
  .navbar {
    background-color: white;
    opacity: 1;
    /* flex-direction: column !important; */
    /* flex-wrap: nowrap !important; */
  }
  .nav-dropdown {
    margin-right: 0 !important;
    text-align: center !important;
  }
  #navbar {
    padding: 0 !important;
    text-align: center !important;
  }
  .navbar-brand img {
    width: 180px;
  }
  .dropdown-menu {
    padding: 0 !important;
  }
  .dropdown-menu {
    margin-top: 0 !important;
  }
  .nav-link {
    background-color: white;
    text-align: center;
    opacity: 1;
    width: 110%;
    margin-left: -10px;
  }

  #nav_dropdown_item {
    text-align: center;
  }
  .contact-info {
    justify-content: center !important;
  }
}
