.person_info{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
    max-width: 380px;
    margin: 2%;
    display: inline-flex;
    flex-direction: column;
    padding: 3%;
    justify-content: center;
}
#noanim-tab-example-tabpane-Sales_Distributors{
    background-color: #F5F5F5;
}


#SUBSIDIARIESs{
    margin-bottom: -1%;
    color: #51A4E1;
    font-size: 14px;
}

#company_name{
    font-size: 22px;
    color: #0C4773;
    margin-bottom: -2%;
}

#Function{
    margin-top: -5%;
}
