.info{
    margin-top: 5%;
}

#page_info2{
    height: 200px;
    opacity: .9;
    margin-top: 5.1%;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    width: 100%;
    background-color: #0B4068 !important;
}

.title3{
    color: white !important;
    font-size: 4rem;
    padding-top: 3%;
}

.nav-tabs{
   margin-left: 35%;
   margin-top: 1%;
   width: 400px;
}

#noanim-tab-example-tab-Sales_Distributors, #noanim-tab-example-tab-Contact_request, #noanim-tab-example-tab-Our_location{
    padding: 5%;
}

#noanim-tab-example-tab-Sales_Distributors:hover{
    background-color: #00507E;
    color: white !important;
}

#noanim-tab-example-tab-Contact_request:hover{
    background-color: #00507E;
    color: white !important;
}

#noanim-tab-example-tab-Our_location:hover{
    background-color: #00507E;
    color: white !important;
}

@media only screen and (max-width: 600px) {

    .nav-tabs{
        width: 99%;
        margin: 2%;

     }

     #page_info2{
         height: auto;
         margin-top: 20%;
     }

     .title3{
         font-size: xx-large;
     }

  }
  
  