
 /* Styling icons */
 .icon-list {
    position: fixed;
    top: 97%;
    right:80%;
    transform: translateY(-50%); 
    z-index: 94034;
}
 
.icon-list a {
    display: block;
    text-align: center;
    padding: 8px;
    transition: 0.3s;
    color: white;
    font-size: 20px;
    float:right;
   
}
 
 /* HOver affect on icons */
.icon-list a:hover {
    width:70px;
}

/* Designing each icons */
.instagram {
    background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    color: white;
}
 
.facebook {
    background: #3b5998;
    color: white;
}
 
.twitter {
    background: #00acee;
    color: white;
}
.linkedin {
    background: #0e76a8;
    color: white;
}
 
.youtube {
    background: #c4302b;
    color: white;
}


@media only screen and (max-width: 600px) {

    .icon-list {
        right: 20%;
    }
}