.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
.social-links {
  display: flex;
  position: fixed;
  top: auto;
  left: 0;
  bottom: 0;
  background-color: "transparent";
  width: min-content;
  margin-left: 4rem;
  z-index: 989880;
}

.social-btn {
  z-index: 989880;
  cursor: pointer;
  height: 40px;
  width: 60px;
  font-family: "Titillium Web", sans-serif;
  color: #333;
  background: white;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.social-btn span {
  width: 0px;
  overflow: hidden;
  transition: 1s;
  text-align: center;
}

.social-btn:hover {
  width: 80px;
}

.social-btn:hover span {
  padding: 2px;
  width: max-content;
}

.arrow-btn {
  z-index: 989880;
  cursor: pointer;
  height: 30px;
  width: 60px;
  font-family: "Titillium Web", sans-serif;
  color: #333;
  background: white;
}
.arrow-btn:hover {
  height: 40px;
}

#arrow {
  border-top-left-radius: 7px;
  background-color: #003861;
}
#arrow-up {
  border-top-left-radius: 7px;
  background-color: #003861;
  border-top-right-radius: 7px;
}
#youtube {
  background-color: #db211b;
}
#twitter {
  background-color: #55acee;
}
#linkedin {
  background-color: #0077b5;
}
#facebook {
  background-color: #4267b2;
  border-top-right-radius: 7px;
}
#instagram {
  /* background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 ); */

  background-color: #bc1888;
}
#instagram svg {
  fill: url(#MyGradient);;
}

svg {
  fill: #ffffff;
}
@media only screen and (max-width: 600px) {
  .social-links {
    display: none;
  }
}
