
 /* Styling icons */
 .icon-list {
    position: fixed;
    top: 97%;
    right:80%;
    transform: translateY(-50%); 
    z-index: 94034;
}

.icon-list2 {
    position: fixed;
    top: 97%;
    right: 5%;
    transform: translateY(-50%); 
    z-index: 94034;
}
 
.icon-list a {
    display: block;
    text-align: center;
    padding: 5px;
    transition: 0.3s;
    color: white;
    font-size: 20px;
    float:right;
}

.icon-list2 a {
    display: block;
    text-align: center;
    padding: 12px;
    transition: 0.3s;
    color: white;
    font-size: 20px;
    float:right;
}

span{
    color: white;
    font-size: large;
}
 
 /* HOver affect on icons */
.icon-list a:hover {
    width:70px;
}

/* Designing each icons */
.instagram {
    background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    color: white;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}
 
.facebook {
    background: #3b5998;
    color: white;
}
 
.twitter {
    background: white;
    color: white;
}
.linkedin {
    background: #0e76a8;
    color: white;
}
 
.youtube {
    background: #c4302b;
    color: white;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.contact{
    background-color: #003861;
    border-radius: 10px;
}


@media only screen and (max-width: 600px) {

    .icon-list {
        display: none;
    }

    .icon-list2 {
       right: 0%;
    }

    .icon-list2 a{
        width: 235%;
        text-align: center;
     }
    
}