#imgs{
    height: 600px;
    float: right;
    width: 80%;
}

#info{
    background-color: black;
    float: left;
    width: 50%;
    opacity: .8;
    margin-left: -229px;
    margin-bottom: -40px;
    height: 600px;
    padding: 5%;
}

.carousel{
    margin-top: -40px;
    margin-right: -13px;
}

@media only screen and (max-width: 600px) {

    #info{
        display: none;
    }
  
    #imgs{
        width: 100%;
        height: 350px;
    }

    .carousel{
        margin-left: 0px;
        margin-top: -22px;
        margin-right: -13px;
    }
}