#imgs{
    height: 600px;
    float: right;
    width: 100%;
}

#info{
    background-color: white;
    color: #003168 !important;
    width: 50%;
    opacity: .8;
    position: relative;
    top: 40px;
    left: -228px;
    height: 600px;
    padding: 5%;
}

.carousel{
    margin-top: -40px;
    box-shadow: none;
    margin-left: -1%;
    margin-right: -1%;
}

@media only screen and (max-width: 600px) {

    #info{
        display: none;
    }
  
    #imgs{
        width: 100%;
        height: 350px;
    }

    .carousel{
        margin-top: -22px;
        /* margin-right: -30px; */
    }
}