#imgs{
    height: 700px;
    float: right;
}
.carousel{
    margin-top: -8%;
}
/* #info{
    background-color: black;
    float: left;
    width: 600px;
    position: relative;
    bottom: -25px;
    left: -229px;
    height: 600px;
} */