a {
  text-decoration: none !important;
  color: #000 !important;
  font-size: 12px;
}

li {
  text-decoration: none;
}
.logo {
  width: 200px;
  height: 45px;
  margin-bottom: 3%;
}

span {
  font-size: 25px;
  color: #329ed6;
}

.info-p{
  font-size: 12px;
}

.about {
  background-color: rgba(243, 243, 243, 1);
  text-align: center;
  padding: 1%;
  float: left;
  height: 308px;
}

.sec_div {
  padding: 2%;
  background-color: #202124;
  float: right;
}
.sec_div ul {
  padding: 2%;
}

.Our_Products {
  display: inline-table;
  color: white;
}

.Contact_Us {
  display: inline-table;
  color: white;
}
.contact_para {
  padding: 2%;
}

.Quick_Links {
  display: inline-table;
  color: white;
}
.Contact_Us svg {
  fill: #202124 !important;
}
.Contact_Us a {
  color: white !important;
}

h4 {
  padding-bottom: 2%;
}

.Copyright {
  margin-bottom: 0;
  font-size: 12px;
}
.Quick_Links {
  margin-bottom: 0;
}
.footer {
  padding-bottom: 4%;
}

.cat{
  font-size: 16px;
}

.pages {
  color: white !important;
  font-size: 12px;
}
.Quick_Links {
  margin-bottom: 0;
}

@media only screen and (max-width: 600px) {
  .about {
    padding: 5%;
    height: auto;
  }

  .sec_div {
    height: auto;
    width: 100%;
    padding-top: 10%;
    padding-left: 10%;
  }

  .Contact_Us {
    margin-right: 5%;
  }
  .Quick_Links {
    margin-bottom: 5%;
  }
}
