
.logo{
    width: 60px;
    height: 60px;
    padding-right: 3%;
}

span{
    font-size: 25px;
    color: #003168;
}

.about{
    background-color: rgba(243, 243, 243, 1);
    text-align: center;
    height: 300px;
    padding: 1%;
    float: left;
}

.sec_div{
    padding: 3%;
    background-color: #003168;
    height: 300px;
    float: right;
    /* margin-top: -300px;
    margin-left: 506px; */
}

.Our_Products{
    display: inline-block;
    color: white;
    margin-top: -50px !important;
}

.Contact_Us{
    display: inline-block;
    color: white;
    padding: 1%;
}

.Quick_Links{
    display: inline-block;
    color: white;
}

h4{
    padding-bottom: 2%;
}

.social{
    padding-bottom: 3%;
    padding-right: 2%;
}

.Copyright{
    font-size: small;
}

.pages{
    color: white !important;
}

@media only screen and (max-width: 600px) {

    .about{
        padding: 5%;
        height: auto;
    }

    .sec_div{
        margin-top: 0px;
        margin-left: 0px;
        height: auto;
        width: 100%;
        padding-top: 20%;
        padding-left: 6%;
    }

    .Contact_Us{
        margin-bottom: 5%;
    }
  
}