a{
    text-decoration: none !important;
    color: black !important;
}


a:hover{
    color: black;
}

@media only screen and (max-width: 600px) {

    .card{
        margin-right: -8%;
        margin-left: 6%;
    }
  
}