/* 

.product{
    padding-left: 30px;
}

@media only screen and (max-width: 600px) {

    .card{
        margin-right: -8%;
        margin-left: 6%;
    }
    
    .product{
        padding-left: 0px;
    }

    .product1, .product2, .product3{
        width: 100%;
        margin-left: 0px;
        margin-top: 3%;
        margin-bottom: 1%;
    }

    .product3{
        margin-bottom: 10%;
    }

} */

#products {
  margin-top: 5%;
  margin-bottom: 5%;
}

p{
  font-size: 13px;
}

#product__name{
  font-size: 19px !important;
}

#productCard {
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  width: 20rem;
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  cursor: pointer;
  margin: 1rem;
  min-height: 26.875rem;
  /* height: 173px; */
}

#productCard:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.productImg {
  padding: 0;
  margin: 0;
  width: 100%;
}

.product a {
  text-decoration: none;
  color: black !important;
}

#productCard h3 {
  padding-top: 1rem;
}

@media only screen and (max-width: 769px) {
  #productCard {
    margin: 1rem;
  }
}
