#ps{
    margin-top: 3%;
    margin-right: 0px;
    margin-bottom: 0px;
}

.img{
    width: 100%;
    height: 100%;
}

#productImg{
    height: 550px;
}

#productInfo{
    padding: 5%;
    height: 550px;
    margin-bottom: 0px;

}

#title{
    font-size: 2.2rem !important;
    color: #329ED6;
}

h3{
  font-size: 1.5rem !important;
}

h1{
  font-size: 2rem !important;
  margin-top: 5%;
}

.productInfo{
    margin-top: 5%;
    font-size: 1rem;
    margin-bottom: 5%;
   
}

#benefits_box{
    text-align: center;
    background-color: #329ED6;
    color: white;
    padding: 3%;
}

#benefits{
  font-size: 1rem;
}

#options_box{
    text-align: center;
    background-color: rgb(191, 194, 197);
    padding-top: 0%;
    padding: 3%;
}

#space{
    margin-top: -10%;
}

#buy_btn{
    margin-right: 10%;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    font-size: larger;
    transition: all 0.5s;
    padding: 2%;
}

#buy_btn span {
    cursor: pointer;
    display: inline-block;
    transition: 0.5s;
  }

  #buy_btn span:after {
    content: '\00bb';
    opacity: 0;
    transition: 0.5s;
  }
  
  #buy_btn:hover span {
    padding-right: 25px;
  }
  
  #buy_btn:hover span:after {
    opacity: 1;
    right: 0;
  }

 #contact_btn{
    background-color: transparent;
    padding: 2%;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    font-size: larger;
    transition: all 0.5s;
 } 

 #contact_btn span {
    cursor: pointer;
    display: inline-block;
    transition: 0.5s;
  }

  #contact_btn span:after {
    content: '\260f';
    opacity: 0;
    transition: 0.5s;
  }
  
  #contact_btn:hover span {
    padding-right: 25px;
  }
  
  #contact_btn:hover span:after {
    opacity: 1;
    right: 0;
  }

  #catalogue_btn{
    background-color: transparent;
    padding: 2% !important;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    font-size: larger;
    transition: all 0.5s;
  }

  #catalogue_btn span {
    cursor: pointer;
    display: inline-block;
    transition: 0.5s;
  }

  #catalogue_btn span:after {
    content: '\21E9';
    opacity: 0;
    transition: 0.5s;
  }

  #catalogue_btn:hover span {
    padding-right: 1.3rem;
  }
  
  #catalogue_btn:hover span:after {
    opacity: 1;
    right: 0;
  }

  .question {
    color: #fff;
    position: relative;
    background: #98c23d;
    margin: 0;
    padding: 10px 10px 10px 50px;
    display: block;
    width:100.8%;
    cursor: pointer;
    font-size: 1.8rem;
    text-align: center;
  }
  
  .answers {
    font-weight:300;
    background: #f2f2f2;
    width:100.8%;
    padding: 0px 5px;
    margin: 0px 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    position: relative;
    opacity: 0;
    -webkit-transition: .7s ease;
    -moz-transition: .7s ease;
    -o-transition: .7s ease;
    transition: .7s ease;
  }

  .ans{
    font-size: 1rem;
    text-align: center;
  }
  
  .questions:checked ~ .answers{
    height: auto;
    opacity: 1;
    padding: 15px;
  }
  
  .plus {
    color:#fff;
    position: absolute;
    margin-left: 10px;
    margin-top: 5px;
    z-index: 5;
    font-size: 3.7rem;
    line-height: 100%;
    -webkit-user-select: none;    
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
    
  }
  
  .questions:checked ~ .plus {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .questions {
    display: none;
  }

@media only screen and (max-width: 600px) {

    #productInfo{
        height: 100%;
    }

    #productImg{
        height: 50%;
        margin-top: 5%;
        margin-bottom: -7%;
    }
    
    .question{
      width: 103%;
    }
}