body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.dropdown-toggle::after {
  display: float !important;
}

* {
  font-family: MyFont;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "MyFont";
  src: local("MyFont"), url(./assets/font/ProximaNova-Regular.otf);
}
