#ps{
    margin-top: 3%;
    margin-right: 0px;
}

.img{
    width: 100%;
}

#productInfo{
    padding: 5%;
}

#title{
    font-size: 4rem;
    color: #329ED6;
    margin-bottom: -15px;
}

.productInfo{
    margin-top: 5%;
    font-size: 17px;
}

video{
    width: 100%; 
    height: 80%; 
    object-fit: contain; 
    cursor: pointer;
    
}