#ps{
    margin-top: 3%;
    margin-right: 0px;
    margin-bottom: 0px;
}

.img{
    width: 100%;
    height: 100%;
}

#productImg{
    height: 650px;
}

#productInfo{
    padding: 5%;
    height: 650px;
    margin-bottom: 0px;

}

#title{
    font-size: 50px;
    color: #329ED6;
}

h3{
  font-size: 30px !important;
}

h1{
  font-size: 30px !important;
}

.productInfo{
    margin-top: 5%;
    font-size: 16px;
    margin-bottom: 5%;
   
}

#benefits_box{
    text-align: center;
    background-color: #329ED6;
    color: white;
    padding: 3%;
}

#options_box{
    text-align: center;
    background-color: rgb(191, 194, 197);
    padding-top: 0%;
    padding: 3%;
}

#space{
    margin-top: -10%;
}

#buy_btn{
    margin-right: 5%;
    background-color: transparent;
    padding: 2%;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    font-size: larger;
    transition: all 0.5s;
}

#buy_btn span {
    cursor: pointer;
    display: inline-block;
    transition: 0.5s;
  }

  #buy_btn span:after {
    content: '\00bb';
    opacity: 0;
    transition: 0.5s;
  }
  
  #buy_btn:hover span {
    padding-right: 25px;
  }
  
  #buy_btn:hover span:after {
    opacity: 1;
    right: 0;
  }

 #contact_btn{
    background-color: transparent;
    padding: 2%;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    font-size: larger;
    transition: all 0.5s;
 } 

 #contact_btn span {
    cursor: pointer;
    display: inline-block;
    transition: 0.5s;
  }

  #contact_btn span:after {
    content: '\260f';
    opacity: 0;
    transition: 0.5s;
  }
  
  #contact_btn:hover span {
    padding-right: 25px;
  }
  
  #contact_btn:hover span:after {
    opacity: 1;
    right: 0;
  }

@media only screen and (max-width: 600px) {

    #productInfo{
        height: 100%;
    }

    #productImg{
        height: 50%;
        margin-top: 5%;
        margin-bottom: -7%;
    }
    
}